

.App{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  width: 100vh;
 
}
.muiOutLinedInput-notchedoutLine{
  border-color: white !important;
}
.muiSvgIcon-root{
  color:aliceblue !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
background-color: aliceblue;
}